@import "styles/constants";

$INDENTATION: 1rem;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
}

.discovery {
  margin-top: 0.5rem;
  margin-left: $INDENTATION;
}

.vulnerability {
  margin-top: 0.5rem;
  margin-left: $INDENTATION;

  a {
    display: inline;
    margin: 0 0.25rem;
  }
}

.createdAt {
  color: $MEDIUM_GREY;
  margin-left: $INDENTATION;
}

.kind {
  font-size: 1.5rem;
  font-weight: 600;
}


.darkTheme {
  &.container {
    background-color: $DARK_GREY;
    color: $SOFT_WHITE;
  }
}

.lightTheme {
  &.container {
    background-color: $WHITE;
  }
}
