@import "styles/constants";
@import "styles/mixins";

$INDICATOR_SIZE: 1.5rem;
$SHAPE_SIZE: calc(#{$INDICATOR_SIZE} * 0.75);
$PADDING: 0.25rem;

.indicator {
  width: $INDICATOR_SIZE;
  height: $INDICATOR_SIZE;
  border-radius: 50%;
  background-color: $WHITE;
  box-shadow: $BOX_SHADOW;
  padding: $PADDING;
  @include transition;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(#{$INDICATOR_SIZE} * 2 + calc(#{$PADDING} * 3));
  height: fit-content;
  padding: $PADDING;
  background-color: $MEDIUM_GREY;
  color: $WHITE;
  border-radius: $INDICATOR_SIZE;
  border: solid 2px $MEDIUM_GREY;
  cursor: pointer;

  &:active, &:focus {
    outline: none;
  }
}

.active {
  @extend .indicator;
  background-color: $DARK_GREY;
  transform: translateX($INDICATOR_SIZE);
}

.inactive {
  @extend .indicator;
}
