//colors
$HOT_RED: #ff5100;
$FLAME_ORANGE: #ffaa00;
$LAGOON: #00c1db;
$DEEP_SEA: #007daa;
$GREEN: #24ae1d;
$BRIGHT_GREEN: #89df00;

$DARK_GREY: #262626;
$MEDIUM_GREY: #858585;
$SILVER: #c4c5c1;
$WHITE_SMOKE: #ebebeb;
$SOFT_WHITE: #f8f8f8;
$WHITE: #ffffff;

// shadows
$BOX_SHADOW: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$FOCUS_SHADOW: 0 0 0 3px rgba(0, 193, 219, 0.5);
