@import "constants";

.label {
  display: block;
  font-weight: 700;
  padding-left: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px $MEDIUM_GREY;

  &:hover,
  &:active {
    box-shadow: $FOCUS_SHADOW;
  }

  &:focus {
    outline: none;
    border-bottom: solid 1px $LAGOON;
  }
}
