a {
  text-decoration: none;
  color: $LINK;

  &:hover {
    text-decoration: underline;
  }

  &:focus,
  &:active {
    box-shadow: $FOCUS_SHADOW;
    outline: none;
  }

  &:visited {
    color: $LINK;
  }
}

.lightTheme {
  color: $DARK_GREY;
}

.darkTheme {
  color: $SOFT_WHITE;
}
